.menu {
  display: block;
  text-indent: -9999px;
}

.menu::after,
.menu::before,
.menu > .center {
  background-color: var(--color-first);
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
}

.menu::before,
.menu > .center {
  margin-bottom: 5px;
}
