.main-input {
  display: none;
}

.main-label {
  display: inline-flex;
  align-items: center;
}

.main-label::before {
  content: "";
  border: 3px solid var(--color-first);
  border-radius: 5px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}

.main-input:checked + .main-label::before {
  background-color: var(--color-first);
}
