.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}

.main-header > .about-link {
  margin-left: auto;
  margin-right: var(--spacing-small);
}

.main-header > .main-menu {
  width: 25px;
}
