.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.header > .about-link {
  margin-left: auto;
  margin-right: var(--spacing-very-small);
}

.header > .menu {
  width: 25px;
}
