.App-logo {
  width: 131px;
  height: 21px;
}

.App-header {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px 35px 0;
}

.App-link {
  color: #09d3ac;
}

.App-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #707070;
  text-transform: uppercase;
  margin: 0;
}
