.app {
  text-align: center;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

.app > .header-game {
  width: 90vw;
  margin: 0 auto var(--spacing-big);
}

.app > .card-game {
  width: 90vw;
  height: 90vw;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.app > .label-game {
  margin-bottom: var(--spacing-big);
}
